.active {
    text-decoration: underline;
    background-color: lightgrey;
}

.player {
    position: relative;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensure it stays on top of other content */
    background-color: white;

}