
.grammar_highlighting .Gender_Fem::after {
    content: " ♀";
    color: darksalmon;
    font-weight: 900;

    background-color:white;
}
.grammar_highlighting .Gender_Masc::after {
    content: " ♂";
    color: blue;
    background-color:white;
}
.grammar_highlighting .Gender_Neut::after {
  content: " ⚧";
  color: black;
  background-color:white;

}

.grammar_highlighting  .Animacy_Inan::after {
    content: "⚙️♂";
    color: black;
    background-color:white;
    padding-left:3px;
}

.grammar_highlighting  .Animacy_Hum::after {
    content: "🙎‍♂️♂";
    color: black;
    background-color:white;
    padding-left:3px;
}
.grammar_highlighting  .Animacy_Nhum::after {
    content: "🐶♂";
    color: black;
    background-color:white;
    padding-left:3px;
}

.grammar_highlighting .Number_Ptan,
.grammar_highlighting .Number_Plur {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: black;
}
.grammar_highlighting  .Number_Ptan {
    text-decoration-style: dashed;
}
.grammar_highlighting .Case_Nom {
  color: #228B22; /* Forest Green */
}

.grammar_highlighting .Case_Ins {
  color: #FF4500; /* Orange Red */
}

.grammar_highlighting .Case_Acc {
  color: #ceaf05; /* Gold */
}

.grammar_highlighting .Case_Gen {
  color: #B22222; /* Firebrick */
}

.grammar_highlighting .Case_Loc {
  color: #8A2BE2; /* Blue Violet */
}

.grammar_highlighting .Case_Dat {
  color: #FF69B4; /* Hot Pink */
}

.grammar_highlighting .Case_Voc {
  color: #1E90FF; /* Dodger Blue */
}

.grammar_highlighting .inflected_word a {
  color: inherit;
}

.grammar_highlighting .Person_1::after,
.grammar_highlighting .Person_2::after,
.grammar_highlighting .Person_3::after {
  font-size: smaller;
  font-weight: bold;
  vertical-align: super; /* This makes it appear as a superscript */
}

.grammar_highlighting .Person_1::after {
  content: "1"; 
}
.grammar_highlighting .Person_2::after {
  content: "2"; 
}
.grammar_highlighting .Person_3::after {
  content: "3"; 
}

